.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.addBtn {
    display: block;
    margin: 0 auto 24px;
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
    transition: .2s opacity;
    background-color: #fc0fc0;
    font-size: 18px;
    font-family: 'Overlock', Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.addBtn:disabled {
    opacity: .8;
    color: black;
    cursor: initial;
}

.card {
    height: 380px;
    cursor: pointer;
}

.addBtn:hover {
    opacity: .8;
}